app.json
ExtensionCLDMUA/Default publisher_ExtensionCLDMUA_1.0.0.0.app
ExtensionCLDMUA/.alpackages/Microsoft_Application_13.3.27233.0.app
ExtensionCLDMUA/.alpackages/Microsoft_System_13.0.12929.0.app
ExtensionCLDMUA/.vscode/launch.json
